
\.project

frontend/frontend/.settings/

movie_flow_service/target/

movie_flow_service/.settings/

movie_flow_service/.classpath

*.swp

shop_service/bin/

.metadata/

parking_service/.settings/

*.tar
node_modules

node_modules/

*.tar
