<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <button (click)="onSelect('list days')" class="btn btn-light">list days</button>
      </li>
      <li class="nav-item active">
        <button (click)="onSelect('list movie')" class="btn btn-light">list movie</button>
      </li>
      <li class="nav-item active">
        <button (click)="onSelect('list planning')" class="btn btn-light">planning</button>
      </li>
    </ul>
  </div>
</nav>

<div [ngSwitch]="selectedComponent">
  <!-- the same view can be shown in more than one case -->
  <div *ngSwitchCase="'list days'">
    <app-day-list ></app-day-list>
  </div>
  <div *ngSwitchCase="'list planning'">
    <app-show-planning ></app-show-planning>
  </div>
  <div *ngSwitchCase="'list movie'">
    <app-movie-list ></app-movie-list>
  </div>
</div>
  