<div class="container">
    <div class="buttons_container">
        <Button class="btn btn-primary" (click)="getNumberOfFreeSpots()">Get number of free spots</Button>
        <Button class="btn btn-primary" (click)="getAllParkingTickets()">Get tickets</Button>
        <Button class="btn btn-primary" (click)="getNewParkingTicket()">Get new parking ticket</Button>
        <Button class="btn btn-primary">Validate ticket</Button>
        <Button class="btn btn-primary">Exit parking</Button>
    </div>
</div>